@{
    ViewBag.Title = "Fortnite";
}
@section header {
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
@Styles.Render("~/Content/css/kendoui2018")
@Scripts.Render("~/bundles/kendoui2018")
<style>
    #pnlMain.k-grid.k-widget,
    #pnlDetail.k-grid.k-widget {
        border-style: none;
    }
</style>
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Schematics</h3>
        </div>
    </div>
    <div class="row">
        <div id="pnlMain" class="col-md-7">
        </div>
        <div id="pnlDetail" class="col-md-4">
        </div>
    </div>
</div>
<script id="tmplType" type="text/x-kendo-tmpl">
    <div>
        #: SchematicType# &nbsp;
        #if(DamageType=='Fire'){#
        <i class='fas fa-fire'></i>
        #}else if(DamageType=='Nature'){#
        <i class='fas fa-tree'></i>
        #}else if(DamageType=='Water'){#
        <i class='fas fa-snowflake'></i>
        #}else if(DamageType=='Energy'){#
        <i class='fas fa-bolt'></i>
        #}#
    </div>
</script>
<script id="tmplAmmo" type="text/x-kendo-tmpl">
    <div>
        #if(AmmoType=='Light Bullets'){#
        <img src='@Url.Content("~/content/images/30px-Light_bullets_icon.png")' style="background-color:black;" />
        #}else if(AmmoType=='Medium Bullets'){#
        <img src='@Url.Content("~/content/images/30px-Medium_bullets_icon.png")' style="background-color:black;" />
        #}else if(AmmoType=='Energy Cells'){#
        <img src='@Url.Content("~/content/images/30px-Energy_cells_icon.png")' style="background-color:black;" />
        #}else if(AmmoType=='Heavy Bullets'){#
        <img src='@Url.Content("~/content/images/30px-Heavy_bullets_icon.png")' style="background-color:black;" />
        #}else if(AmmoType=='Rockets'){#
        <img src='@Url.Content("~/content/images/30px-Rockets_icon.png")' style="background-color:black;" />
        #}else if(AmmoType=="Shells n Slugs"){#
        <img src='@Url.Content("~/content/images/30px-Shells_n_slugs_icon.png")' style="background-color:black;" />
        #}#
    </div>
</script>

@section scripts {
    <script src="@Url.Content("~/scripts/utility.js")" type="text/javascript"></script>
    <script>
    var apiUrl = '@Url.Action("GetSchematics", "Main", new { Area = "Fortnite" })';
    window.dataSourceSchematic = new kendo.data.DataSource({
        transport: {
            read: { url: apiUrl, dataType: "json" }
        },
        schema: {
            model: { fields: schemSchematicDto }
        },
        requestStart: function (e) { },
        requestEnd: function (e) { },
        change: function (e) { /*console.log("change: ", e);*/ },
        error: function (e) { /*console.log("error: ", e);*/ }
    });
    $(function () {
        $("#pnlMain").kendoGrid({
            dataSource: dataSourceSchematic,
            columns: [
                { field: "name", title: "Name", width: 80 },
                { field: "level", title: "Level", width: 50 },
                { field: "stars", title: "Rating", width: 90, template: "#= StarLabel(data.stars) #" },
                { field: "SchematicType", title: "Type", width: 70, filterable: { ui: typeFilter }, template: kendo.template($("#tmplType").html()) },
                { field: "AmmoType", title: "Ammo", width: 50, template: kendo.template($("#tmplAmmo").html()) },
                { field: "imgurl", title: " ", width: 90, template: fn_ImgTemplate, filterable: false },
                { field: "DamageType", title: "DamageType", width: 80, hidden: true }
            ],
            filterable: {
                extra: false,
                operators: {
                    string: {
                        startswith: "Starts with",
                        eq: "Is equal to",
                        neq: "Is not equal to"
                    }
                }
            },
            sortable: true,
            height: 500,
            change: onChange,
            detailInit: detailInit,
            selectable: true
        });

        window.dataSourceSchematic.read();
    });
    </script>
}
